html {
    width: 100%;
    height: 100%;
    background-color: #013c4a;
    color: #fff;
    font-family: Georgia, serif;
}

header h1,
body > footer,
nav,
.petition{
    text-align: center;
}

body {
    width:60%;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
}

main p {
    text-align: justify;
    text-justify: inter-word;
}

body > footer {
    padding: 1em;
}

.petition{
    font-size: 2em;
    padding: 1em;
}

main a, header a, footer a {
    text-decoration: none;
}
main a:link, header a:link, footer a:link {
    color: #c1e9d4;
    border-bottom: 1px solid #ffffff;
}
main a:visited, header a:visited, footer a:visited {
    color: #c1e9d4;
}
main a:hover, header a:hover, footer a:hover {
    color: #a5dca3;
}

.pure-menu-item a {
    color: #c1e9d4;
    border-bottom: 1px solid #ffffff;
}
.pure-menu-children .pure-menu-item {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.pure-menu-link {
    background-color: #013c4a;
}
.pure-menu-link:hover {
   background-color: #217587;
}

.picture-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


figure {
    margin: 0.25rem;
}
/*
.align-right {
    float: right;
}

.align-left {
    float: left;
}
*/

@media screen and (max-width: 746px) {
	body {
	    width:95%;
	    margin-left: auto;
	    margin-right: auto;
	}
    .picture-grid {
        justify-content: space-evenly;
    }
}
